<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LAD08PackagingV1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <LAD08PackagingV1.Properties.Settings>
            <setting name="IndividualPrinter" serializeAs="String">
                <value />
            </setting>
            <setting name="LabelLocation" serializeAs="String">
                <value>D:\LAD8N\LAD8N\</value>
            </setting>
            <setting name="GroupPrinter" serializeAs="String">
                <value />
            </setting>
            <setting name="AdminPassword" serializeAs="String">
                <value>SCH324</value>
            </setting>
            <setting name="DatabaseReference" serializeAs="String">
                <value>D:\LAD8N\LAD8N\LAD8N2.mdb</value>
            </setting>
            <setting name="ProviderDataBase" serializeAs="String">
                <value>Microsoft.ACE.OLEDB.12.0</value>
            </setting>
            <setting name="LabelIndividualOffsetTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LabelIndividualOffsetLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LabelGroupOffsetTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LabelGroupOffsetLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WeighingComName" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="WeighingComBaudRate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="WeighingComParity" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="WeighingComStopBit" serializeAs="String">
                <value>One</value>
            </setting>
            <setting name="WeighingComData" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="WeighingStabilizationTime" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="WeighingDefaultLimit" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="PLCIpAddress" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="PLCPort" serializeAs="String">
                <value>502</value>
            </setting>
            <setting name="PLCScanRate" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="DatabaseWorkOrder" serializeAs="String">
                <value>D:\LAD8N\LAD8N\WorkOderLAD8N.mdb</value>
            </setting>
            <setting name="LastWorkOrder" serializeAs="String">
                <value />
            </setting>
            <setting name="WeighingComSuffix" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SerialBarcodeComName" serializeAs="String">
                <value>COM2</value>
            </setting>
            <setting name="SerialBarcodeComBaudRate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="SerialBarcodeComParity" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="SerialBarcodeComStopBit" serializeAs="String">
                <value>One</value>
            </setting>
            <setting name="SerialBarcodeComData" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="ArticleNumberLength" serializeAs="String">
                <value>13</value>
            </setting>
            <setting name="UseSerialBarcode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseBarcodeEntrySuffix" serializeAs="String">
                <value>True</value>
            </setting>
        </LAD08PackagingV1.Properties.Settings>
    </userSettings>
</configuration>
